:root {
  --primary-font: "Poppins";
  --secondary-font: "Lobster";

  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  --primary-text-color: #fff;
  --secondary-text-color: #00afd5;
  --success-text-color: #9c9c9c;
  --light-text-color: #fafafa;
  --dark-text-color: #000000;

  --font-size-xxsmall: 12;
  --font-size-xsmall: 16;
  --font-size-medium: 18;
  --font-size-lg: 20;
  --font-size-xl: 24;
  --font-size-2xl: 36;
  --font-size-bg: 52;

  --primary-background-color: #fff;
  --secondary-background-color: #fafafa;
  --success-background-color: #00afd5;
  --dark-background-color: #292c39;
  
  --primary-border-color: #7b7b7b;
}
