:root {
  --primary-font: "Poppins";
  --secondary-font: "Lobster";

  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  --primary-text-color: #fff;
  --secondary-text-color: #00afd5;
  --tertiary-text-color: #7b7b7b;
  --light-text-color: #fafafa;
  --dark-text-color: #232631;
  --brown-text-color: #848484;

  --font-size-xxsmall: 12px;
  --font-size-xsmall: 14px;
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 32px;
  --font-size-3xl: 36px;
  --font-size-bg: 52px;

  --primary-background-color: #fff;
  --secondary-background-color: #fafafa;
  --tertiary-background-color: #00afd5;
  --dark-background-color: #292c39;
  --light-background-color: rgba(70, 107, 243, 0.1);
  
  --primary-border-color: #7b7b7b;

  --primary-line-height: 30px;
  --secondary-line-height: 27px;
  --tertiary-line-height: 20px;
}