.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    /* grid-auto-flow: row; */
    grid-auto-flow: column;
    max-width: 20rem;
    gap: 10px;
}

.product__item {
    border: 1px solid green;
    text-align: center;
}