.wrapper-place {
  background: url(../../assets/images/banner.webp) no-repeat center;
  background-size: cover;
  border-radius: 24px;
  height: 380px;
  display: flex;
}

.place-introduction {
  display: none;
}

.tab-nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.tab-list {
  display: flex;
  margin: 0;
  padding-left: 0px;
  width: fit-content;
}

.tab-pane {
  background-color: var(--primary-background-color);
  border-radius: 0px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 15px 10px 10px 10px;
}

.tab-item {
  padding: 8px 20px;
  border-radius: 0px 12px 0px 0px;
  background-color: var(--primary-background-color);
}

.native {
  border-radius: 12px 0px 0px 0px;
  background-color: var(--tertiary-background-color);
}

.tab-link {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xxsmall);
  line-height: 18px;
  font-family: var(--primary-font);
  color: var(--secondary-text-color);
}

.active {
  color: var(--primary-text-color);
}

.pane-first {
  display: flex;
  align-items: center;
  border-right: 1px solid #eeeeee;
}

.pane-content {
  display: flex;
  gap: 4px;
}

.tab-introduction {
  display: flex;
  flex-direction: column;
}

.tab-title {
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-medium);
  line-height: 21px;
}

.tab-description {
  font-size: var(--font-size-xxsmall);
  font-weight: var(--font-weight-regular);
  color: var(--brown-text-color);
  line-height: 18px;
}

.pane-second, .pane-third {
  display: none;
}

.btn-search {
  background-color: var(--tertiary-background-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: var(--font-size-xxsmall);
  padding: 6px 8px;
  color: var(--primary-text-color);
  border: none;
}

.icon-search {
  width: 16px;
}

.icon-union, .icon-address {
  width: 24px;
}

/* Tablet */
@media (min-width: 768px) {
  .wrapper-place {
    background: var(--secondary-background-color) url(../../assets/images/banner-desktop.webp) no-repeat top right;
    background-size: 50%;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
  }

  .place-introduction {
    display: block;
    width: fit-content;
    padding: 25px;
  }

  .place-title {
    display: block;
    font-size: 32px;
    font-weight: var(--font-weight-bold);
    line-height: 45px;
    width: 351px;
  }

  .place-description {
    font-size: var(--font-size-xxsmall);
    font-weight: var(--font-weight-light);
    color: var(--tertiary-text-color);
    line-height: 20px;
    width: 328px;
  }

  .tab-pane {
    padding: 20px 20px 10px 20px;
    justify-content: space-around;
  }

  .tab-item {
    padding: 10px 20px;
  }

  .tab-link {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-xxsmall);
    line-height: 18px;
    font-family: var(--primary-font);
    color: var(--secondary-text-color);
  }

  .active {
    color: var(--primary-text-color);
  }

  .pane-second, .pane-third {
    display: flex;
    gap: 7px;
    align-items: center;
  }

  .pane-second {
    border-right: 1px solid #eeeeee;
  }

  .tab-title {
    font-size: var(--font-size-small);
  }

  .tab-description {
    font-size: var(--font-size-xxsmall);
    font-weight: var(--font-weight-regular);
  }

  .btn-search {
    background-color: var(--tertiary-background-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
    font-size: var(--font-size-xxsmall);
    padding: 10px 22px;
    gap: 4px;
  }

  .icon-trip {
    width: 20px;
  }
}

@media (min-width: 1440px) {
  .wrapper-place {
    height: 600px;
    justify-content: center;
  }

  .place-title {
    font-size: var(--font-size-bg);
    line-height: 78px;
    width: 550px;
  }

  .place-description {
    font-size: var(--font-size-small);
    line-height: 30px;
    font-weight: var(--font-weight-regular);
    width: 445px;
  }

  .place-introduction {
    padding-left: 60px;
  }

  .tab-nav {
    width: fit-content;
    padding-left: 35px;
    padding-top: 20px;
  }

  .tab-item {
    padding: 12px 24px;
  }

  .tab-link {
    font-size: var(--font-size-medium);
    line-height: 27px;
  }

  .tab-pane {
    padding-top: 30px;
    padding-bottom: 20px;
    width: 1130px;
    gap: 20px;
    box-shadow: 0px 60px 100px rgba(250, 250, 250, 1), 0px 0px 0px rgba(255, 255, 255, 0)  
  }

  .active {
    color: var(--primary-text-color);
  }

  .pane-first, .pane-second, .pane-third {
    gap: 20px;
  }

  .pane-content {
    gap: 16px;
  }

  .tab-title {
    font-size: var(--font-size-medium);
    line-height: 27px;
  }

  .tab-description {
    font-size: var(--font-size-small);
  }

  .btn-search {
    font-size: var(--font-size-medium);
    padding: 14px 24px;
    gap: 10px;
    line-height: 27px;
  }
}