.place-section {
  padding-bottom: 50px;
}

.place-main {
  background: url(../../assets/images/banner.webp) center / cover no-repeat;
  height: 380px;
  border-radius: var(--primary-border-radius);
  border: 1px solid var(--secondary-border-color);
}

.tab-nav {
  padding-top: 330px;
}

.place-introduction {
  display: none;
}

.tab-list {
  display: flex;
}

.tab-pane-list {
  background-color: var(--primary-background-color);
  border-radius: 0px 12px 12px 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 20px 5px 10px;
}

.tab-item {
  padding: 8px 20px;

  &:first-child {
    border-top-left-radius: 12px;
    background-color: var(--tertiary-background-color);

    &:hover {
      background-color: var(--primary-background-color);
    }
  }

  &:last-child {
    border-top-right-radius: 12px;
    background-color: var(--primary-background-color);

    &:hover {
      background-color: var(--tertiary-background-color);
    }
  }
}

.pane-item {
  display: none;

  &:first-child {
    padding-right: 15px;
    display: flex;
    border-right: 1px solid #eeeeee;
  }

  &:last-child {
    display: block;
  }
}

.btn-search-banner {
  background-color: var(--tertiary-background-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: var(--font-size-xxsmall);
  padding: 10px 12px;
  color: var(--primary-text-color);
  border: none;
  gap: 2px;

  &:hover {
    background-color: var(--depth-blue-background-color);
  }
}

.pane-content {
  display: flex;
  gap: 4px;
  align-items: center;
}

.tab-introduction {
  display: flex;
  flex-direction: column;
  width: 126px;
}

.tab-link {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xxsmall);
  line-height: 18px;
  font-family: var(--primary-font);
  color: var(--secondary-text-color);

  &:hover {
    color: var(--primary-text-color);
  }
}

.active {
  color: var(--primary-text-color);

  &:hover {
    color: var(--secondary-text-color);
  }
}

.tab-title {
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-medium);
  line-height: var(--small-line-height);
  color: var(--dark-text-color);
}

.tab-select {
  font-size: var(--font-size-xxsmall);
  font-weight: var(--font-weight-regular);
  color: var(--brown-text-color);
  line-height: var(--xxsmall-line-height);
  border: none;
  width: 123px;

  &:focus {
    outline: none;
  }
}

.icon-search {
  width: 14px;
  height: 14px;
}

/* Tablet */
@media (min-width: 768px) {
  .place-section {
    padding-left: 30px;
    padding-right: 30px;
  }

  .place-main {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    height: 340px;
  }
  
  .wrapper-place {
    background: var(--secondary-background-color) url(../../assets/images/banner-desktop.png) no-repeat right center / contain;
    border-radius: 12px;
  }

  .place-title {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
    line-height: 45px;
  }

  .place-description {
    font-size: var(--font-size-xxsmall);
    font-weight: var(--font-weight-light);
    color: var(--tertiary-text-color);
    line-height: var(--tertiary-line-height);
  }

  .place-introduction {
    display: block;
    width: 328px;
  }
  
  .tab-nav {
    padding: 0;
  }

  .tab-link {
    font-size: var(--font-size-small);
    line-height: var(--tertiary-line-height);
  }

  .pane-item {
    display: flex;

    &:first-child {
      padding-right: 20px;
    }
  }
  
  .tab-select {
    font-size: var(--font-size-xsmall);
    width: 165px;
  }

  .pane-content {
    gap: 12px;
  }

  .pane-type-trip {
    display: none;
  }

  .btn-search-banner {
    font-size: var(--font-size-small);
  }

  .tab-pane-list {
    padding: 18px;
    border-radius: 0px 20px 20px;
    box-shadow: 0 25px 54px 0 #efefef;
  }

  .tab-introduction {
    width: 144px;
  }

  .icon-search {
    width: 24px;
    height: 24px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .place-main {
    height: 580px;
  }

  .wrapper-place {
    height: 580px;
    border-radius: var(--primary-border-radius);
  }

  .place-title {
    font-size: var(--font-size-bg);
    line-height: 78px;
  }

  .place-description {
    font-size: var(--font-size-small);
    line-height: var(--primary-line-height);
    font-weight: var(--font-weight-regular);
  }

  .place-introduction {
    width: 515px;
    padding-left: 60px;
    padding-top: 67px;
  } 

  .tab-link {
    font-size: var(--font-size-medium);
    line-height: var(--secondary-line-height);
  }

  .tab-title {
    font-size: var(--font-size-medium);
    line-height: var(--secondary-line-height);
  }
  
  .tab-select {
    font-size: var(--font-size-small);
  }
  
  .btn-search-banner {
    padding: 14px 24px;
    font-size: var(--font-size-medium);
    gap: 10px;
  }
  
  .pane-type-trip {
    display: flex;
    border-right: none;
    padding-left: 30px;
  }

  .pane-date {
    border-right: 1px solid #eeeeee;
    padding-right: 20px;
    padding-left: 30px;
  }

  .tab-pane-list {
    padding: 30px;
    border-top-right-radius: var(--primary-border-radius);
    border-bottom-right-radius: var(--primary-border-radius);
    border-bottom-left-radius: var(--primary-border-radius);
  }

  .tab-nav {
    padding-left: 40px;
    padding-right: 40px;
  }

  .pane-item:last-child {
    padding-left: 79px;
  }

  .tab-introduction {
    width: 170px;
  }
}