.wrapper-service {
  background-color: var(--secondary-background-color);
  border-radius: var(--primary-border-radius);
}

.service-main {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  gap: 30px;
}

.service-section {
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: var(--primary-border-radius);
}

.service-content {
  display: grid;
  gap: 20px 0;
}

.service-topic-title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  line-height: var(--primary-line-height);
  color: var(--dark-text-color);
}

.service-heading {
  width: 256px;
}

/* Tablet */
@media (min-width: 768px) {
  .wrapper-service {
    background-color: var(--primary-background-color);
    border-radius: 0;
  }

  .service-heading {
    width: 400px;
    text-align: center;
  }

  .service-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .service-content {
    grid-template-columns: auto 1fr;
    gap: 30px 130px;
  }

  .service-topic-desc {
    width: 259px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .service-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .service-heading {
    text-align: left;
    padding-left: 60px;
    width: 244px;
  }

  .service-main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 100px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .service-content {
    gap: 45px 116px;
  }
}
