.wrapper-service {
  background-color: var(--secondary-background-color);
  border-radius: 24px;
}

.service-heading {
  width: 256px;
}

.service-main {
  padding-top: 40px;
  padding-bottom: 30px;
  display: grid;
  gap: 30px;
}

.service-section {
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 24px;
}

.service-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 285px);
  gap: 20px 0;
}

.service-topic {
  width: 400px;
}

/* Tablet */
@media (min-width: 768px) {
  .wrapper-service {
    background-color: var(--primary-background-color);
    border-radius: 0;
  }

  .service-heading {
    padding-left: 18px;
    width: 160px;
  }

  .service-main {
    background-color: var(--secondary-background-color);
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 5px;
    padding-top: 30px;
    border-radius: 24px;
  }

  .service-content {
    grid-template-columns: auto 1fr;
    gap: 20px 16px;
  }

  .service-topic {
    width: 227px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .service-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .service-heading {
    padding-left: 100px;
    width: 244px;
  }

  .service-main {
    gap: 80px;
    padding-top: 30px;
    border-radius: 24px;
  }

  .service-content {
    gap: 45px 116px;
  }

  .service-topic {
    width: 258px;
  }
}