.container {
  margin: 0 auto;
  padding-left: 22px;
  padding-right: 22px;
}

/* Tablet */
@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .container {
    max-width: 1240px;
  }
}