npm.footer-section {
  padding-top: 70px;
}

.footer-wrapper {
  background-color: #232631;
  position: relative;
}

.footer-main {
  padding-top: 50px;
  padding-bottom: 30p;
}

.footer-logo-name {
  font-family: 'Lobster';
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.footer-logo {
  align-items: center;
  display: flex;
  gap: 4px;
}

.footer-copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #e0e7fa;
  width: 154px;
  padding-top: 12px;
}

.footer-col {
  text-align: center;
}

.footer-col-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.footer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a1a1a3;
}

.footer-row {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.footer-col-name {
  padding-bottom: 16px;
}

.footer-item {
  padding-bottom: 14px;
}

.footer-image {
  position: absolute;
  bottom: 20px;
  right: 0;
}

@media (min-width: 768px) {
  .footer-row {
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 50px;
    align-items: normal;
  }
}

@media (min-width: 1440px) {
  .footer-row {
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
  }

  .footer-logo-desktop {
    position: absolute;
  }
}