.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 39px;
}

.dropdown-content {
  display: flex;
  order: 3;
}

.header-logo {
  display: flex;
  gap: 4px;
  align-items: center;
}

.nav-list {
  display: none;
}

.header-btn {
  display: none;
}

/* Tablet */
@media (min-width: 768px) {
  .header-section {
    padding-top: 30px;
  }

  .header-logo {
    gap: 5px;
  }

  .dropdown-content {
    display: none;
  }

  .header-btn {
    display: flex;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 35px;
  }  
}

/* Desktop */
@media (min-width: 1440px) {
  .header-section {
    padding-top: 30px;
  }

  .header-logo {
    gap: 8px;
  }
    
  .nav-list {
    gap: 30px;
  }
}
