.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 39px;
}

.dropdown-content {
  display: flex;
  order: 3;
}

.header-logo {
  display: flex;
  gap: 4px;
  align-items: center;
}

.logo-name {
  font-family: var(--secondary-font);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xsmall);
  color: var(--secondary-text-color);
  line-height: var(--small-line-height);
}

.nav-list {
  display: none;
}

/* Tablet */
@media (min-width: 768px) {
  .header-section {
    padding-top: 30px;
  }

  .nav-link {
    color: var(--tertiary-text-color);
    font-family: var(--primary-font);
    font-weight: var(--font-weight-regular);
    line-height: var(--small-line-height);
    font-size: var(--font-size-small);

    &:hover {
      color: var(--secondary-text-color);
    }
  }

  .header-logo {
    gap: 5px;
  }

  .dropdown-content {
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }  
}

/* Desktop */
@media (min-width: 1440px) {
  .header-logo {
    gap: 8px;
  }
    
  .nav-list {
    gap: 30px;
  }

  .logo-name {
    font-size: var(--font-size-xl);
  }
}