.btn {
  cursor: pointer;
  font-family: var(--primary-font);
}

.btn-primary {
  border: none;
  border-radius: 12px;
  color: var(--primary-text-color);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  line-height: var(--secondary-line-height);
  padding: 14px 24px;
}

.btn-secondary {
  border: 1.5px solid var(--primary-border-color);
  background: var(--primary-background-color);
  color: var(--success-text-color);
  font-size: var(--font-size-xxsmall);

  &:hover {
    color: var(--primary-text-color);
    background-color: var(--tertiary-background-color);
  }
}