.btn {
  cursor: pointer;
  font-family: var(--primary-font);
}

.btn-primary {
  border: none;
  background-color: var(--tertiary-background-color);
  color: var(--primary-text-color);

  &:hover {
    background-color: var(--depth-blue-background-color);
  }
}

.btn-secondary {
  background-color: var(--primary-background-color);
  color: var(--tertiary-text-color);

  &:hover {
    background-color: var(--light-gray-background-color);
  }
}

.btn-wrapper-login {
  display: none;
}

.btn-search-banner {
  display: flex;
  gap: 2px;
  align-items: center;
  border-radius: 10px;
  padding: 10px 12px;
  font-size: var(--font-size-xxsmall);
  line-height: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
}

.btn-package-choose {
  display: inline-block;
  border-radius: var(--secondary-border-radius);
  padding: 14px 24px;
  font-size: var(--font-size-medium);
  line-height: var(--secondary-line-height);
  font-weight: var(--font-weight-medium);
}

.btn-package-viewmore {
  display: inline-block;
  border-radius: var(--secondary-border-radius);
  padding: 14px 24px;
  font-size: var(--font-size-medium);
  line-height: var(--secondary-line-height);
  font-weight: var(--font-weight-medium);
}

.btn-destination {
  border-radius: var(--secondary-border-radius);
  padding: 8px 24px;
  font-size: var(--font-size-small);
  line-height: var(--tertiary-line-height);
  font-weight: var(--font-weight-regular);
}

.btn-wrapper-destination {
  display: grid;
  place-items: center;
  padding-top: 50px;
}

.btn-destination-viewmore {
  border: 1.5px solid var(--primary-border-color);
  border-radius: 100px;
  padding: 14px 24px;
  font-size: var(--font-size-xxsmall);
  font-weight: var(--font-weight-medium);
  line-height: var(--xxsmall-line-height);
}

.btn-claim {
  display: inline-block;
  border-radius: var(--secondary-border-radius);
  padding: 14px 24px;
  font-size: var(--font-size-xxsmall);
  line-height: var(--xxsmall-line-height);
  font-weight: var(--font-weight-medium);
}

/* Tablet */
@media (min-width: 768px) {
  .btn-wrapper-login {
    display: flex;
  }

  .btn-login {
    display: inline-block;
    border-radius: var(--secondary-border-radius);
    padding: 12px 24px;
    background-color: var(--light-background-color);
    color: var(--secondary-text-color);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    line-height: var(--tertiary-line-height);

    &:hover {
      background-color: var(--secondary-background-color);
    }
  }

  .btn-search-banner {
    gap: 4px;
    border-radius: 12px;
    padding: 12px 20px;
    font-size: var(--font-size-small);
    line-height: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
  }

  .btn-destination-viewmore {
    font-size: var(--font-size-medium);
    line-height: var(--secondary-line-height);
  }

  .btn-claim {
    font-size: var(--font-size-medium);
    line-height: var(--secondary-line-height);
  }
}