.text {
  color: var(--dark-text-color);
  font-weight: var(--font-weight-semibold);
  font-family: var(--primary-font); 
}

.subheading {
  color: var(--secondary-text-color);
  font-size: var(--font-size-xsmall);
  line-height: 22.4px;
}

.title {
  font-size: var(--font-size-2xl);
  line-height: 50.4px;
}

.subtitle {
  font-size: var(--font-size-lg);
  line-height: 30px;
}

.desc {
  color: var(--tertiary-text-color);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-regular);
  line-height: 30px;
}

.tag {
  font-size: var(--font-size-xxsmall);
  font-weight: 300;
  font-style: italic;
}