body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: gray;
    color: #fff;
}

@media (max-width: 575px) {
    article{
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
}

img{
    max-width: 100%;
    height: auto;
}